.form-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #6c757d;
}
.btn-sm-custom {
    padding: 6px 16px;
    font-size: 0.9rem;
}
.input-group-icon {
    position: relative;
}

.input-group-icon input {
    padding-left: 2rem;
}

.input-group-icon input,
.input-group-icon select {
    padding-left: 2rem;
}

.btn-sm-custom {
    padding: 6px 16px;
    font-size: 0.9rem;
}

.card-style {
    border: 1px solid #dee2e6;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}
